In [2]:
#method 1 for creating testing and training sets
import pandas as pd
import numpy as np
data = pd.read_csv('/home/wxdata/predAnalytics/Chapter2/Customer Churn Model.txt')
len(data)

3333

In [4]:
a = np.random.randn(len(data))
check = a < 0.8
len(check)

3333

In [ ]:
training = data[check]
testing = data[-check]

In [4]:
print(len(training),len(testing))

2571 762

In [5]:
#method 2 for creating testing and training sets
from sklearn.cross_validation import train_test_split
train, test = train_test_split(data, test_size = 0.2)

In [6]:
print(len(train),len(test))

2666 667

In [23]:
#method 3 for creating testing and training sets
with open('/home/wxdata/predAnalytics/Chapter2/Customer Churn Model.txt','r') as f:
    data = f.read().split('\n')
np.random.shuffle(data)
train_data = data[:int(3*len(data)/4)]
test_data = data[int(len(data)/4):]

In [24]:
#concatenating and appending data
data1=pd.read_csv('/home/wxdata/predAnalytics/Chapter3/winequality-red.csv',sep=';')
data1.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5

In [28]:
column_names = data1.columns.values
column_names

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [30]:
data1.shape

(1599, 12)

In [31]:
data2 = pd.read_csv('/home/wxdata/predAnalytics/Chapter3/winequality-white.csv', sep=';')
data2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45,170,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14,132,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30,97,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47,186,0.9956,3.19,0.40,9.9,6

In [32]:
data2.shape

(4898, 12)

In [33]:
wine_total = pd.concat([data1,data2],axis=0)
wine_total.shape

(6497, 12)

In [34]:
#daily weather data
data = pd.read_csv('/home/wxdata/predAnalytics/Chapter3/lotofdata/001.csv')
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [37]:
#concatenating files
filepath = '/home/wxdata/predAnalytics/Chapter3/lotofdata/'
data_final = pd.read_csv('/home/wxdata/predAnalytics/Chapter3/lotofdata/001.csv')
for i in np.arange(2,333):
    if i < 10:
        filename='0' + '0' + str(i) + '.csv'
    if 10 <= i <= 100:
        filename='0'+ str(i) + '.csv'
    if i >= 100:
        filename = str(i) + '.csv'
    file = filepath + filename
    data = pd.read_csv(file)
    data_final = pd.concat([data_final,data])

In [38]:
data_final.shape

(772087, 4)

In [40]:
data_final.tail(4)

           Date  sulfate  nitrate   ID
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332

In [28]:
#merging/joining datasets
#had some issues with the file
#used encoding = 'latin1' and that worked
data_main = pd.read_csv('/home/wxdata/predAnalytics/Chapter3/Medals/Medals.csv',
                       encoding='latin1')
#with codecs.open(file_name, "r",encoding='utf-8', errors='ignore') as fdata:
data_main.head()

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals
0,Michael Phelps,23,2008,08/24/2008,8,0,0,8
1,Michael Phelps,19,2004,08/29/2004,6,0,2,8
2,Michael Phelps,27,2012,08/12/2012,4,2,0,6
3,Natalie Coughlin,25,2008,08/24/2008,1,2,3,6
4,Aleksey Nemov,24,2000,10/01/2000,2,1,3,6

In [30]:
a = data_main['Athlete'].unique().tolist()
len(a)

6956

In [33]:
country_map=pd.read_csv('/home/wxdata/predAnalytics/Chapter3/Medals/Athelete_Country_Map.csv',
                       encoding='latin1')
country_map.head()

            Athlete        Country
0    Michael Phelps  United States
1  Natalie Coughlin  United States
2     Aleksey Nemov         Russia
3     Alicia Coutts      Australia
4    Missy Franklin  United States

In [35]:
sports_map=pd.read_csv('/home/wxdata/predAnalytics/Chapter3/Medals//Athelete_Sports_Map.csv',
                      encoding='latin1')
sports_map.head()

            Athlete       Sport
0    Michael Phelps    Swimming
1  Natalie Coughlin    Swimming
2     Aleksey Nemov  Gymnastics
3     Alicia Coutts    Swimming
4    Missy Franklin    Swimming

In [42]:
merged=pd.merge(left=data_main,right=country_map,left_on='Athlete',
                right_on='Athlete')
merged.head()

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals,Country
0,Michael Phelps,23,2008,08/24/2008,8,0,0,8,United States
1,Michael Phelps,19,2004,08/29/2004,6,0,2,8,United States
2,Michael Phelps,27,2012,08/12/2012,4,2,0,6,United States
3,Natalie Coughlin,25,2008,08/24/2008,1,2,3,6,United States
4,Natalie Coughlin,21,2004,08/29/2004,2,2,1,5,United States

In [37]:
country_map_dp=country_map.drop_duplicates(subset='Athlete')

In [38]:
country_map.shape

(6970, 2)

In [40]:
merged_dp=pd.merge(left=data_main,right=country_map_dp,
                   left_on='Athlete',right_on='Athlete')
len(merged_dp)

8618

In [41]:
sports_map_dp=sports_map.drop_duplicates(subset='Athlete')
len(sports_map_dp)

6956

In [43]:
merged_final=pd.merge(left=merged_dp,right=sports_map_dp,
                      left_on='Athlete',right_on='Athlete')
merged_final.head()

,Athlete,Age,Year,Closing Ceremony Date,Gold Medals,Silver Medals,Bronze Medals,Total Medals,Country,Sport
0,Michael Phelps,23,2008,08/24/2008,8,0,0,8,United States,Swimming
1,Michael Phelps,19,2004,08/29/2004,6,0,2,8,United States,Swimming
2,Michael Phelps,27,2012,08/12/2012,4,2,0,6,United States,Swimming
3,Natalie Coughlin,25,2008,08/24/2008,1,2,3,6,United States,Swimming
4,Natalie Coughlin,21,2004,08/29/2004,2,2,1,5,United States,Swimming